
.swiper-pagination {
    scale: 150%;

    max-width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}

.swiper-pagination-bullet{
    filter: invert(50%);
}
.swiper-pagination-bullet-active {
    background-color: #fff41a;
    filter: none;
}







